<!DOCTYPE html>
<html>
    <head>
        <title>Games ~ JustAnotherCoder.net</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
        <script src="{{url_for('static', filename='javascript/script.js')}}"></script> 
    </head>
    <body>    
        <header>
            <div class="main">
                <ul>
                    <li><a href="/" onclick="window.location.href = document.location.origin; return false;">Home</a></li>
                    <li class="active"><a href="/" onclick="window.location.href = document.location.origin + '/games'; return false;">Games</a></li>
                    <li><a href="/" onclick="window.location.href = document.location.origin + '/projects'; return false;">Projects</a></li>
                    <li><a href="/" onclick="window.location.href = document.location.origin + '/contact'; return false;">Contact</a></li>
                </ul>
            </div>
            <div class="title">
                <h1>Games</h1>
            </div>

            <div id="game_div">
                <iframe class="game" style="left: 30%; top: 60%;" frameborder="0" src="https://itch.io/embed/1210991?linkback=true&amp;border_width=3&amp;bg_color=89ef62&amp;fg_color=222222&amp;link_color=f10606&amp;border_color=3ec1d0" width="556" height="171"><a href="https://notjustanothercoder.itch.io/neverending-quest">Neverending Quest by Just Another Coder</a></iframe>
                <iframe class="game" style="left: 70%; top:60%;" frameborder="0" src="https://itch.io/embed/1136001?linkback=true&amp;border_width=3&amp;bg_color=FFD700" width="556" height="171"><a href="https://notjustanothercoder.itch.io/minegold">MineGold by Just Another Coder</a></iframe>
                <iframe class="game" style="left: 30%; top:90%;" frameborder="0" src="https://itch.io/embed/982472?linkback=true&amp;border_width=3&amp;bg_color=1d62e4&amp;border_color=FF0000" width="556" height="171"><a href="https://notjustanothercoder.itch.io/cops-and-robbers">Cops and Robbers by Just Another Coder</a></iframe>
                <iframe class="game" style="left:70%; top: 90%;" frameborder="0" src="https://itch.io/embed/878031?linkback=true&amp;border_width=3&amp;bg_color=f38840&amp;fg_color=000000&amp;link_color=fa5c5c&amp;border_color=FFD700" width="556" height="171"><a href="https://notjustanothercoder.itch.io/elite-street-racers">Elite Street Racers by Just Another Coder</a></iframe>
            </div>

            <div class="socials">
                <a href="https://discord.gg/xVdEsQ5gV3" target="_blank" rel="noopener noreferrer">
                    <img 
                    src="{{ url_for('static', filename='images/discord-logo.png') }}" width=100, height=100>
                </a>

                <a href="https://github.com/LouisTheXIV" target="_blank" rel="noopener noreferrer">
                    <img 
                    src="{{ url_for('static', filename='images/github-logo.png') }}" width=100, height=100>
                </a>
                  
                <a href="https://notjustanothercoder.itch.io/" target="_blank" rel="noopener noreferrer">
                    <img 
                    src="{{ url_for('static', filename='images/itch-logo.png') }}" width=100, height=100>
                </a>

                <a href="https://www.youtube.com/channel/UChJdYcnvUGkUzl0rH4orcog" target="_blank" rel="noopener noreferrer">
                    <img 
                    src="{{ url_for('static', filename='images/youtube-logo.png') }}" width=100, height=100>
                </a>
            </div>
        </header>
    </body>
</html>